/*
 * Copyright (c) 2026 Analog Devices, Inc.
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c0 {
	status = "okay";

	pmic: max20356@28 {
		compatible = "adi,max20356";
		reg = <0x28>;
		status = "okay";

		gpio_mpc: gpio {
			compatible = "adi,max20356-gpio";
			gpio-controller;
			#gpio-cells = <2>;
			ngpios = <8>;
		};
	};

	pmic58: max20358@29 {
		compatible = "adi,max20358";
		reg = <0x29>;
		status = "okay";
	};
};
